.table-details {
  margin: 50px;
  text-align: center;
  bgcolor="#00FF13";
  table {
    border: 1px solid darkgray;
    border-collapse: collapse;
    td {
      border: 1px solid darkgray;
    }
  }
}
