.signup-form-control {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  color: #aaa;
  > i {
    padding-top 20px
    padding-bottom 20px
    color: #aaa !important;
    margin-right 10px !important;
  }
  input {
    color #000
  }
  .mdl-textfield {
    width 100%
  }
  &.forgot-password-button-box {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;

    .mdl-button {
      font-size 12px
    }
  }
}

.login-form {
  .mdl-layout {
    align-items: center;
    justify-content: center;
  }
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
