.loading-data {
  .loading-before-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    margin-bottom: 30px;
  }
  .loading-before-logo-heading {
    text-align: center;
    font-family: "Roboto", sans-serif !important;
    font-size: 18px !important;
    font-weight: normal;
  }
}