.App {
  text-align: center;
}
.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fff;
}
.App-intro {
  font-size: large;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.signup-form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
  color: #aaa;
}
.signup-form-control > i {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #aaa !important;
  margin-right: 10px !important;
}
.signup-form-control input {
  color: #000;
}
.signup-form-control .mdl-textfield {
  width: 100%;
}
.signup-form-control.forgot-password-button-box {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.signup-form-control.forgot-password-button-box .mdl-button {
  font-size: 12px;
}
@import "~material-design-lite/material.min.css";
